{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container mb-5">
    <div class="row">
        <h2 class="text-center red my-5">F.A.Q.</h2>
        <h3 class="red mt-3">Czym jest Foxtry?</h3>
        <h5 class="text-white">Foxtry jest grupą założoną w 2018 roku. Od tego czasu staramy się dostarczać naszym klientom najwyższej jakości grafiki i dostosowywać ceny do ich budżetów i potrzeb. Uważamy, że kontakt z klientem jest najważniejszą rzeczą podczas naszej pracy, dzięki czemu dostajesz gwarancje zadowolenia i jakości.</h5>
        <h3 class="red mt-3">Jak wygląda transakcja?</h3>
        <h5 class="text-white">Po wysłaniu zgłoszenia poprzez zakładkę “Usługi” skontaktujemy się z Tobą i dogadamy wszystkie szczegóły odnośnie zamówienia - dogadamy cenę oraz początkowa opłatę za projekty wstępne. W trakcie tworzenia projektu, będziemy stopniowo przesyłać progress prac - tak, aby klient miał szansę na feedback. Umowy chwilowo rozliczamy poprzez serwis Useme, dlatego masz pewność, że wszystkie prace przebiegną pomyślnie a dowody zakupu trafia w Twoje ręce.</h5>
        <h3 class="red mt-3">Czy na stronie muszę coś płacić?</h3>
        <h5 class="text-white">Nie. Opłaty pobieramy dopiero po podpisaniu umowy.</h5>
        <h3 class="red mt-3">Jaki jest czas oczekiwania?</h3>
        <h5 class="text-white">Na wiadomości i zgłoszenia staramy się odpowiadać jak najszybciej - zazwyczaj w przeciągu 24 godzin. Czas oczekiwania na wykonanie zgłoszenia dogadujemy przed rozpoczęciem prac.</h5>
    </div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}